<!doctype html>
<html>
<head>
  <title>Test - Triton Connect</title> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  
  <!-- Triton Connect stylesheet -->
  <link rel="stylesheet" href="/css/style.css">

  <!-- test stylesheet -->
  <link rel="stylesheet" href="/css/test.css">

  <!-- jQuery -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  
  <script type="text/javascript">

  </script>

</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9">
        <iframe src="/" onLoad="document.getElementById('mobile').src = this.contentWindow.location;"></iframe>
      </div>
      <div class="col-md-3">
        <iframe src="" id="mobile"></iframe>
      </div>
    </div>
  </div>
</body>
</html>