.row {
    margin-bottom: 20px;
}

.screenshot img {
    width: 80%;
}

@media (max-width: 767px) {

    .screenshot {
      height: 300px;
      background-position: center 75%;
    }

    .screenshot img {
        opacity: 0;
    }

    #search {
        background: -webkit-gradient(linear, 0 100%, 0 0, from(rgba(43,62,80,1)), color-stop(0.25, rgba(43,62,80,0)), color-stop(0.75, rgba(43,62,80,0)), to(rgba(43,62,80,1)));
        background: -webkit-linear-gradient(rgba(43,62,80,1) 0%, rgba(43,62,80,0) 25%, rgba(43,62,80,0) 75%, rgba(43,62,80,1) 100%);
        background: -moz-linear-gradient(rgba(43,62,80,1) 0%, rgba(43,62,80,0) 25%, rgba(43,62,80,0) 75%, rgba(43,62,80,1) 100%);
        background: -o-linear-gradient(rgba(43,62,80,1) 0%, rgba(43,62,80,0) 25%, rgba(43,62,80,0) 75%, rgba(43,62,80,1) 100%);
        background: linear-gradient(rgba(43,62,80,1) 0%, rgba(43,62,80,0) 25%, rgba(43,62,80,0) 75%, rgba(43,62,80,1) 100%), url('/img/search.png') no-repeat center center;
    }

    #discover {
        background: -webkit-gradient(linear, 0 100%, 0 0, from(rgba(43,62,80,1)), color-stop(0.25, rgba(43,62,80,0)), color-stop(0.75, rgba(43,62,80,0)), to(rgba(43,62,80,1)));
        background: -webkit-linear-gradient(rgba(43,62,80,1) 0%, rgba(43,62,80,0) 25%, rgba(43,62,80,0) 75%, rgba(43,62,80,1) 100%);
        background: -moz-linear-gradient(rgba(43,62,80,1) 0%, rgba(43,62,80,0) 25%, rgba(43,62,80,0) 75%, rgba(43,62,80,1) 100%);
        background: -o-linear-gradient(rgba(43,62,80,1) 0%, rgba(43,62,80,0) 25%, rgba(43,62,80,0) 75%, rgba(43,62,80,1) 100%);
        background: linear-gradient(rgba(43,62,80,1) 0%, rgba(43,62,80,0) 25%, rgba(43,62,80,0) 75%, rgba(43,62,80,1) 100%), url('/img/discover.png') no-repeat center center;
    }

    #connect {
        background: -webkit-gradient(linear, 0 100%, 0 0, from(rgba(43,62,80,1)), color-stop(0.25, rgba(43,62,80,0)), color-stop(0.75, rgba(43,62,80,0)), to(rgba(43,62,80,1)));
        background: -webkit-linear-gradient(rgba(43,62,80,1) 0%, rgba(43,62,80,0) 25%, rgba(43,62,80,0) 75%, rgba(43,62,80,1) 100%);
        background: -moz-linear-gradient(rgba(43,62,80,1) 0%, rgba(43,62,80,0) 25%, rgba(43,62,80,0) 75%, rgba(43,62,80,1) 100%);
        background: -o-linear-gradient(rgba(43,62,80,1) 0%, rgba(43,62,80,0) 25%, rgba(43,62,80,0) 75%, rgba(43,62,80,1) 100%);
        background: linear-gradient(rgba(43,62,80,1) 0%, rgba(43,62,80,0) 25%, rgba(43,62,80,0) 75%, rgba(43,62,80,1) 100%), url('/img/connect.png') no-repeat center center;
    }

}