html,body,.container,.row {
  height: 100%;
}

.row > div {
  height: 100%;
  overflow: scroll;
}

@media (max-width: 768px) {

  .row > div {
    overflow: visible;
  }

  #mapWrap {
    height: 50%;
  }

}