body { 
	padding-top: 50px; 
}

.media-body h5 {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

@font-face {
  font-family: 'Remachine';
    src:  url('../fonts/Remachine-Script-Personal-Use-Only.ttf.woff') format('woff'),
    url('../fonts/Remachine-Script-Personal-Use-Only.ttf.svg#Remachine-Script-Personal-Use-Only') format('svg'),
    url('../fonts/Remachine-Script-Personal-Use-Only.ttf.eot'),
    url('../fonts/Remachine-Script-Personal-Use-Only.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

.navbar-brand {
	font-family: 'Remachine';
	font-size: 40px;
}

#results {
    padding: 0;
}

.notrident {
    opacity: .1;
}

#listingInfo {
    margin-top: 20px;
}

#listingInfo h2 {
    margin-top: 0;
}